@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');


body{
    background-color: deepskyblue; 
    font-family: 'Zen Loop', cursive; ;
}
p{
    font-size: 50px;
    text-align: center;
    color: floralwhite;
}
h1{
    font-size: 80px;
    text-align: center;
    color: floralwhite;
}
h3{
    font-size: 60px;
    text-align: center;
    color: floralwhite;
}
#yellow{
    color: rgb(159, 14, 243);
}
#red{
    color: rgb(158, 9, 245);
}
img{
    height: 250px;
    width: 300px;
}